@page "/donations"
@inject FinanceService financeService
@attribute [Authorize(Roles = "Admin, Finance")]

<PageTitle>Donations</PageTitle>

<h1>Donations List</h1>
@* <p>@context.User.IsInRole("Finance")</p> *@
@if (donations == null)
{
<p><em>Loading...</em></p>
}
else
{
<a href="/donations/add" class="btn btn-primary"><span class="oi oi-plus" aria-hidden="true"></span>&nbsp;&nbsp;Add Donation</a>

<table class="table table-hover table-striped align-middle">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Donor</th>
            <th>Category</th>
            <th>Payment Method</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donation in donations)
        {
            <tr>
                <td>@donation.Date?.ToString("dddd, dd MMMM yyyy")</td>
                <td>@string.Format("{0:C}", donation.Amount)</td>
                <td>@donation.Contact!.FirstName @donation.Contact!.LastName</td>
                <td>@donation.TransactionType!.Name</td>
                <td>@donation.PaymentMethod!.Name</td>
                <td>@donation.Notes</td>
                <td>
                    <a class="btn btn-success btn-sm py-0" href="/donations/edit/@donation.TransactionId">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                    </a>
                    <a class="btn btn-danger btn-sm py-0" href="/donations/delete/@donation.TransactionId">
                        <span class="oi oi-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}

@code {
    List<Donation>? donations;
    protected override async Task OnInitializedAsync()
    {
        donations = await financeService.GetDonationsAsync();
    }
}